

// Set custom breakpoints
$grid-breakpoints: (
    xxs: 0,
    xs: 320px,
    sm: 448px,
    md: 660px,
    lg: 900px,
    xl: 1050px,
    xxl: 1200px
);
$container-max-widths: (
    xxs: 0,
    xs: 320px,
    sm: 448px,
    md: 660px,
    lg: 900px,
    xl: 1050px,
    xxl: 1200px
);
// Set FontAwesome font location
$fa-font-path: "../webfonts";

// Body
// $body-bg: #f5f8fa;
$body-bg: #ffffff;


// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2b9eb3;
$green: #44af69;
$red: #f61520;
$yellow: #fcdd0f;
$lavendar: #b2abf2;

// Themes
$primary:       $blue;
$success:       $green;
$info:          $lavendar;
$warning:       $yellow;
$danger:        $red;

$theme-colors: (
    "site-logo": #044b7f,
    "edit": #fe5f00,
    "create": #7e1946,
    "header": #4c5b5c,
    "platinum": #dff3e4,
    "highlight": #87f5fb,
    "light-gray": #ccc
);

// Zero border radius
$border-radius: 2px;
