
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Jquery UI
@import '~jquery-ui/themes/base/all.css';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';

html{
  height: 100%;
}
body{
  height: calc(100% - 70px);
}
body {
  

  // Create full screen background
  &.welcome-body  {
    // background: url("../images/welcome0.jpeg") no-repeat center center fixed;
    background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
  }
}

// Make the page scroll only in the main content area
.main-content-article {
  overflow: scroll;
}

// Make show bids scroll only in the main content area
.show-bid-content {
  overflow-y: scroll;
}

.semi-transparent-white-bg {
  background-color: rgba($color: $white, $alpha: 0.75);
}

.jumbotron-text{
  background-color: rgba($color: $white, $alpha: 0.90);
}

// Make clickable table rows and bid cards have a pointer on hover
.clickable-row,
.bid-card,
.bid-card-input{
  cursor: pointer;
}

// Make delete checkboxes red when checked
.custom-checkbox .custom-control-input:checked~.custom-control-label-delete::after {
  background-color: red;
}

// Set width of sidebar icons
i {
  &.sidebar-icon {
    min-width: 30px !important;
  }
}

// Set checkbox background of input group checkboxes to white
.input-group-prepend{
  .input-group-text{
    &.enabled-checkbox{
      background-color: #ffffff;
    }
  }
}


// Extra extra small devices (less than 320px)
// No media query for `xxs` since this is the default in Bootstrap

// Extra small devices (320px and up)
@media (min-width: 320px) {
  body{
    .jumbotron{
      font-size: 32px;
    }
  }
}

// Small devices (448px and up)
@media (min-width: 448px) {
  body{
    .jumbotron{
      font-size: 44px;
    }
  }
}

// Medium devices (660px and up)
@media (min-width: 660px) {
  body{
    .jumbotron{
      font-size: 64px;
    }
  }
}

// Large devices (900px and up)
@media (min-width: 900px) {
  body{
    .jumbotron{
      font-size: 80px;
    }
  }
}

// Extra large devices (1050px and up)
@media (min-width: 1050px) {}

// Extra extra large devices (1200px and up)
@media (min-width: 1200px) {}