
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Jquery UI
@import '~jquery-ui/themes/base/all.css';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

html{
  height: 100%;
}
body{
  height: calc(100% - 70px);
}
body {
  

  // Create full screen background
  &.welcome-body  {
    background: url("../images/beach.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }
}

// Make the page scroll only in the main content area
.main-content-article {
  overflow: scroll;
}

.semi-transparent-white-bg {
  background-color: rgba($color: $white, $alpha: 0.8);
}

// Make clickable table rows have a pointer on hover
.clickable-row{
  cursor: pointer;
}

// Make delete checkboxes red when checked
.custom-checkbox .custom-control-input:checked~.custom-control-label-delete::after {
  background-color: red;
}

i {
  &.sidebar-icon {
    min-width: 30px !important;
  }
}

// Extra extra small devices (less than 320px)
// No media query for `xxs` since this is the default in Bootstrap

// Extra small devices (320px and up)
@media (min-width: 320px) {}

// Small devices (448px and up)
@media (min-width: 448px) {}

// Medium devices (660px and up)
@media (min-width: 660px) {}

// Large devices (900px and up)
@media (min-width: 900px) {}

// Extra large devices (1050px and up)
@media (min-width: 1050px) {}

// Extra extra large devices (1200px and up)
@media (min-width: 1200px) {}