
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Jquery UI
@import '~jquery-ui/themes/base/all.css';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

// Set background color of show all bids page
.show-bids-background{
  // background-color: #2b9eb3;
//   background: #feffff; /* Old browsers */
// background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%); /* FF3.6-15 */
// background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%); /* Chrome10-25,Safari5.1-6 */
// background: radial-gradient(ellipse at center, #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// Set background color of bid card labels and inputs
.bid-card-input-label,
.bid-card input:disabled{
  background-color: #fff;
}

.bid-card,
.bid-card-input,
.remove-bid-button,
.move-bid-up,
.move-bid-down{
  cursor: pointer;
}

/*
  * Sidebar
  */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.button-border-0 {
  border-radius: 0;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
  
//   .sidebar .nav-link {
//     font-weight: 500;
//     color: #333;
//   }
  
//   .sidebar .nav-link .feather {
//     margin-right: 4px;
//     color: #999;
//   }
  
//   .sidebar .nav-link.active {
//     color: #007bff;
//   }
  
//   .sidebar .nav-link:hover .feather,
//   .sidebar .nav-link.active .feather {
//     color: inherit;
//   }
  
//   .sidebar-heading {
//     font-size: .75rem;
//     text-transform: uppercase;
//   }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 50px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
//   .navbar-brand {
//     padding-top: .75rem;
//     padding-bottom: .75rem;
//     font-size: 1rem;
//     background-color: rgba(0, 0, 0, .25);
//     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
//   }
  
//   .navbar .form-control {
//     padding: .75rem 1rem;
//     border-width: 0;
//     border-radius: 0;
//   }
  
//   .form-control-dark {
//     color: #fff;
//     background-color: rgba(255, 255, 255, .1);
//     border-color: rgba(255, 255, 255, .1);
//   }
  
//   .form-control-dark:focus {
//     border-color: transparent;
//     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
//   }


// Extra extra small devices (less than 320px)
// No media query for `xxs` since this is the default in Bootstrap

// Extra small devices (320px and up)
@media (min-width: 320px) {
  
}

// Small devices (448px and up)
@media (min-width: 448px) {
  
}

// Medium devices (660px and up)
@media (min-width: 660px) {
  
}

// Large devices (900px and up)
@media (min-width: 900px) {
  
}

// Extra large devices (1050px and up)
@media (min-width: 1050px) {

}

// Extra extra large devices (1200px and up)
@media (min-width: 1200px) {

}